.bundle
db/*.sqlite3
log/*.log
tmp/
private/*
public/images/student/
public/images/staff/
public/images/institution/
public/images/campus/
public/images/internship/
db/seed-data/
.DS_Store
.swp
.swo
sapos.esproj

config/environment.rb
