$white: #fff;
$black: #0a0a0a;
$grey: #777;
$light-grey: #eee;
$red: #cc3c29;
$blue-strong: #154c97;

$pad: 10px;
$line-color: #ebebeb;
$line2-color: #f0f0f0;
$text-color: #1e1e1e;
$bg-color: #fcfcfc;
$selected-color: #27c;
$hover-color: #efefef;

$error-bg: #fbe3e4;
$error-color: #8a1f11;
$error-border-color: #fbc2c4;

$notice-bg: #fff6bf; 
$notice-color: #514721; 
$notice-border-color: #ffd324;

$success-bg: #e6efc2; 
$success-color: #264409; 
$success-border-color: #c6d880;

$info-bg: #d5edf8; 
$info-color: #205791; 
$info-border-color: #92cae4;

$button-color: #ddd;
$button-color-light: #fafafa;
$button-text-color: #666;

$sch1-color: #bde8b3;
$sch2-color: #a2ded2;
$sch3-color: #fbe3bd;
$sch4-color: #b2c2e3;
$sch5-color: #e3b2dd;
$sch6-color: #bfb1e4;
$sch7-color: #b3e4b1;
$sch8-color: #c3f3e1;
$sch9-color: #ffad8d;
$sch10-color: #bae1cf;



