.plan {
  width: 100%;
  background: $white;
  border-collapse: collapse;
  tr {
    margin-bottom: 1px;
    th {
      font-weight: bold;
      padding: 4px;
      border: 1px solid $line-color;
    }
    &.term {
      th {
        color: $black;
        background: $bg-color;
        border-bottom: 2px solid $light-grey;
      }
    }
    &.optional {
      th {
        color: $grey;
        background: $bg-color;
        border-bottom: 2px solid $light-grey;
      }
    }
    &.header {
    }
    td {
      padding: 4px;
      border: 1px solid $line-color;
    }
    &.course:hover td {
      background-color: $bg-color;
      cursor: pointer;
    }
    &.selected td {
      border: 1px solid #ddd;
    }
    &.selected:hover td {
      background: #ddd;
    }
  }
}

#a-new-course {
  float: right;
  margin: 10px;
}

.edit-course td {
  border: 1px solid #ddd !important;
}

.edit-course-div {
  background-color: $white;
  padding: 10px;
}

#program_courses_attributes_0_code {
  width: 50px;
}

#program_courses_attributes_0_name {
  width: 350px;
}

#program_courses_attributes_0_description {
  width: 350px;
  height: 50px;
}

#program_courses_attributes_0_notes {
  width: 350px;
  height: 35px;
}

table.plan-credits {
  border-collapse: collapse;
  th {
    border: 1px solid $line-color;
    font-size: 90%;
    text-transform: uppercase;
    background: $bg-color;
    padding: 4px;
  }
  td {
    border: 1px solid $line-color;
    padding: 4px;
  }
}

table.plan-prereq,
table.plan-coreq {
  border-collapse: collapse;
  td { 
    border: 0 !important;
  }
}
