.plan,
.terms,
.schedule,
.enrollment,
.tc-students {
  width: 100%;
  background: $white;
  border-collapse: collapse;
  tr {
    margin-bottom: 1px;
    th {
      font-weight: bold;
      padding: 4px;
      background-color: $light-grey;
      border: 1px solid $light-grey;
    }
    &.term {
      th {
        color: $white;
        background: $grey;
      }
    }
    &.optional {
      th {
        color: $light-grey;
        background: $grey;
      }
    }
    &.header {
    }
    td {
      padding: 4px;
      border: 1px solid $light-grey;
    }
    &.schedule-item:hover td,
    &.term-item:hover td,
    &.tc-students-item:hover td,
    &.course:hover td {
      background-color: $bg-color;
      cursor: pointer;
    }
    &.selected td {
      border: 1px solid #ddd;
    }
    &.selected:hover td {
      background: #ddd;
    }
  }
}

#a-new-course,
#a-new-term,
#a-new-enrollment,
#enrollment-status-note,
#add-student-to-course,
#a-new-schedule {
  float: right;
  margin: 10px;
}

#enrollment-status-note {
  color: $grey;
}

.edit-course td,
.edit-term td {
  border: 1px solid #ddd !important;
}

.edit-course-div,
.edit-term-div {
  background-color: $white;
  padding: 10px;
}

#program_courses_attributes_0_code {
  width: 50px;
}

#program_courses_attributes_0_name {
  width: 350px;
}

#program_courses_attributes_0_description {
  width: 350px;
  height: 50px;
}

#program_courses_attributes_0_notes {
  width: 350px;
  height: 35px;
}

table.plan-credits {
  border-collapse: collapse;
  th {
    border: 1px solid $line-color;
    font-size: 90%;
    text-transform: uppercase;
    background: $bg-color;
    padding: 4px;
  }
  td {
    border: 1px solid $line-color;
    padding: 4px;
  }
}

table.plan-prereq,
table.plan-coreq {
  border-collapse: collapse;
  td { 
    border: 0 !important;
  }
}

#enrollment-header {
  height: 32px;
  border-bottom: 1px dashed $line2-color;
  padding-bottom: 10px;

  #enrollment-title {
    width: 300px;
    float: left;
  }

  #enrollment-filter {
    float: right;
    td {
      padding-left: 10px;
    }
  }
}

#new-enrollment-header {
  .term {
    font-size: 90%;
    color: $grey;
    margin-bottom: 10px;
  }
}


#program-header {
  height: 32px;
  border-bottom: 1px dashed $line2-color;
  padding-bottom: 10px;

  #program-title {
    width: 300px;
    float: left;
  }

  #program-filter {
    float: right;
    td {
      padding-left: 10px;
    }
  }

  #courses-dropdown {
    span {
      padding: 8px;
      color: $grey;
      font-size: 10px;
    }
  }
}

#tc-header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  height: 32px;
  margin-top: 20px;

  #tc-title {
    width: 500px;
    float: left;
    div {
      font-size: 90%;
      color: $grey;
    }
  }

  #tc-options {
    float: right;
    margin-top: 10px;
    a {
      margin-left: 10px;
      padding: 4px;
      font-size: 14px;
      text-decoration: none;
      &.tc-selected {
        font-weight: bold;
        color: $white;
        background-color: $selected-color;
        border: 1px solid $selected-color;
        @include rounded(5px);
      }
    }

  }
}

#schedule-term {
  font-size: 90%;
  color: $grey;
  margin-bottom: 10px;
}

.courses-assign {
  width: 522px;
  border: 1px solid $line-color;
  background: $white;
  border-collapse: collapse;
  thead {
    tr {
      position: relative; 
      display: block;
      th { width: 50px; border: 1px solid $selected-color; padding: 4px; font-weight: bold; color: $white; background-color: $selected-color; }
      th + th { width: 440px; }
      th + th + th { width: 56px; }
    }
  }
  tbody {
    display: block;
    overflow: auto;
    height: 320px;
    width: 522px;
    tr {
      td { width: 56px; border: 1px solid $line-color; padding: 4px;}
      td + td { width: 440px; }
      td + td + td { width: 40px; text-align: center; }
    }
    tr.term {
      td { 
        background-color: $bg-color; 
        font-weight: bold;
        padding: 4px;
      }
    }
    tr.optional {
      td { 
        background-color: $bg-color; 
        color: $grey; 
        font-weight: bold;
        padding: 4px;
      }
    }
  }
}

#new-enrollment-note,
#add-student-to-course-note {
  text-align: center;
  padding: 40px;
}
