.ui-tabs { zoom: 1; }
.ui-tabs .ui-tabs-nav { 
  list-style: none; 
  height: 24px; 
  border-bottom: 1px solid $line-color;
  padding-top: 2px;
}

.ui-tabs-nav li { 
  height: 15px;
  float: left; 
  text-align: center;
  padding: 4px 16px; 
  margin: 0 4px; 
}
.ui-tabs-nav li.ui-tabs-selected { background-color: #fff; border-bottom: 1px solid #fff; }
.ui-tabs-nav a { color: $grey; text-decoration: none; display: block; text-shadow: #fff 0px 1px 1px; }
.ui-tabs-nav a:hover { color: $grey; text-decoration: none; }
.ui-tabs-nav li.ui-tabs-selected { 
  border: 1px solid $line-color; 
  border-bottom: 1px solid #fff; 
  @include rounded-side(top-left);
  @include rounded-side(top-right);
}
.ui-tabs-nav li.ui-tabs-selected a { color: #000; font-weight: bold; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 20px; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs h2 {
  margin-bottom: 20px;
}

.ui-tabs h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#advance-header {
  height: 32px;
  border-bottom: 1px dashed $line2-color;
  padding-bottom: 10px;
}

#advance-title {
  width: 300px; 
  float: left;
}

#advance-filter {
  float: right;
}

#avances textarea,
#advance-new textarea { 
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

