#schedule-header
  #schedule-title
    %h2 Programación
  %table#schedule-filter
    %tbody
      %tr
        %td= select "tc", "term_id", Term.where("program_id = :p", {:p => @program.id}).collect {|i| [ i.name, i.id]}, :prompt => 'Selecciona un periodo'
        %td#courses-dropdown 
          %span Es necesario seleccionar un periodo

#schedule-area
