#program-header
  #program-title
    %h2 Programación
  %table#program-filter
    %tbody
      %tr
        %td#terms-dropdown= select "tc", "term_id", Term.where("program_id = :p", {:p => @program.id}).collect {|i| [ i.name, i.id]}, :prompt => 'Selecciona un periodo'
        %td#courses-dropdown 
          %span Es necesario seleccionar un periodo

#program-area
