= select "tc", "course_id", TermCourse.where("term_id = :t AND status = :s", {:t => params[:term_id], :s => TermCourse::ASSIGNED}).collect {|i| [ i.course.name, i.course.id]} + [['Asignar cursos al periodo', 0]], :prompt => 'Selecciona un curso'
