- @include_js = ['laboratories']
- @page_title = 'Laboratorios'
- @nav_icon = 'laboratories'
#items-panel.side-panel.inst-side-panel
  .panel-search
    
    = form_tag laboratories_path, :id => 'live-search', :method => 'get', :remote => true do
      = text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda'
     
  #items-list.panel-items
  
  .panel-add
    = link_to  'Agregar nuevo laboratorio', {:action => 'new'},  {:id => 'add-new-item', :method => :get, :remote => true, :'data-type' => 'html'}

#content-panel.main-panel
